<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.co.movmov.mapper.CategoryMapper">
	<!--
		Category getCategoryFromId(int catId);
	-->
	<select id="getCategoryFromId" resultType="Category">
		select
			cat_id		as id
		  , cat_name	as name
		  , cat_type	as type
		from
			movmov_content_categories
		where
			cat_id = #{catId}
		order by cat_id asc
	</select>
	
	<!--
		Category getCategoryFromType(String catType);
	-->
	<select id="getCategoryFromType" resultType="Category">
		select
			cat_id		as id
		  , cat_name	as name
		  , cat_type	as type
		from
			movmov_content_categories
		where
			cat_type = #{catType}
		order by cat_id asc
	</select>
	
	<!--
		List<Category> getCategoriesByType(String catType);
	-->
	<select id="getCategoriesByType" resultType="Category">
		select
			cat_id		as id
		  , cat_name	as name
		  , cat_type	as type
		from
			movmov_content_categories
		where
			cat_type = #{catType}
		order by cat_id asc
	</select>
	
	<!--
		List<Category> getAllBoardHeaders();
	-->
	<select id="getAllBoardHeaders" resultType="Category">
		select
			cat_id		as id
		  , cat_name	as name
		from
			movmov_content_categories
		where
			cat_type LIKE '%게시글%'
		order by cat_id asc
	</select>
	
	<!--
		List<Category> getAllReportHeaders();
	-->
	<select id="getAllReportHeaders">
		select
			cat_id		as id
		  , cat_name	as name
		from movmov_content_categories
		where
			cat_type in '신고사유'
		order by cat_id asc
	</select>
	
</mapper>
 