<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.co.movmov.mapper.PostMapper">
	<!--
		void insertPost(Post post);
	-->
	<insert id="insertPost" parameterType="Post">
		insert into movmov_community_posts
		(post_no
		 , user_id
	  	 , post_header
	 	 , post_board_type
	   	 , post_title
	     , post_content
	     , post_is_spoiler)
		values
		(POST_NO_SEQ.NEXTVAL
		 , #{user.id}
		 , #{header.id}
		 , #{boardType.id}
		 , #{title}
		 , #{content}
		 , #{isSpoiler})
	</insert>
	
	<!--
		Post getPostById(int postNo);
	-->
	<select id="getPostById" resultMap="PostResultMap">
		select
			P.post_no
		  , P.post_title
		  , P.post_content
		  , P.post_created_date
		  , P.post_updated_date
		  , P.post_view_count	
		  , P.post_upvote_count
		  , P.post_is_spoiler
		  , NVL(C.comment_count, 0)		as commentCount
		  , U.user_nickname				as user_nickname
		  , HC.cat_id					as header_cat_id
		  , HC.cat_name					as header_cat_name
    	  , BC.cat_id					as board_cat_id
    	  , BC.cat_name					as board_cat_name
		from
			movmov_community_posts P
				left join (select post_no, count(*) as comment_count
    				from movmov_community_comments
    				group by post_no) C on P.post_no = C.post_no
				join movmov_content_categories HC on P.post_header = HC.cat_id
				join movmov_content_categories BC on P.post_board_type = BC.cat_id
				join movmov_users U on P.user_id = U.user_id
		where
			P.post_no = #{postNo}
	</select>
	
	<!--
		List<Post> getPostsByBoardId(int boardId);
	-->
	<select id="getPostsByBoardId" resultMap="PostResultMap">
		select
			P.post_no
		  , P.post_title
		  , P.post_content
		  , P.post_created_date
		  , P.post_updated_date
		  , P.post_view_count	
		  , P.post_upvote_count
		  , P.post_is_spoiler
		  , NVL(C.comment_count, 0)		as commentCount
		  , U.user_nickname				as user_nickname
		  , HC.cat_id					as header_cat_id
		  , HC.cat_name					as header_cat_name
    	  , BC.cat_id					as board_cat_id
    	  , BC.cat_name					as board_cat_name
		from
			movmov_community_posts P
				left join (select post_no, count(*) as comment_count
    				from movmov_community_comments
    				group by post_no) C on P.post_no = C.post_no
				join movmov_content_categories HC on P.post_header = HC.cat_id
				join movmov_content_categories BC on P.post_board_type = BC.cat_id
				join movmov_users U on P.user_id = U.user_id
		where
			P.post_board_type = #{boardId}
			and P.post_is_deleted = 'N'
		order by
			P.post_no desc
	</select>
	
	<resultMap type="Post" id="PostResultMap">
		<id column="post_no" property="no"/>
		<result column="post_title" property="title"/>
		<result column="post_content" property="content"/>
		<result column="post_created_date" property="createdDate"/>
		<result column="post_updated_date" property="updatedDate"/>
		<result column="post_view_count" property="viewCount"/>
		<result column="post_upvote_count" property="upvoteCount"/>
		<result column="commentCount" property="commentCount" />
		<result column="post_is_spoiler" property="isSpoiler"/>
		<association property="user" javaType="User">
			<id column="user_id" property="id"/>
			<result column="user_nickname" property="nickname"/>
		</association>
		<association property="header" javaType="Category">
			<id column="header_cat_id" property="id"/>
			<result column="header_cat_name" property="name"/>
		</association>
		<association property="boardType" javaType="Category">
			<id column="board_cat_id" property="id"/>
			<result column="board_cat_name" property="name"/>
		</association>
	</resultMap>
	
	<!--
		void updatePost(Post post);
	-->
	<insert id="updatePost" parameterType="Post">
		update movmov_community_posts
		set
			post_view_count = #{viewCount}
		  , post_upvote_count = #{upvoteCount}
		where
			post_no = #{no}
	</insert>
	
	<!--
		int getCurrentPostNo();
	-->
	<select id="getCurrentPostNo">
		select POST_NO_SEQ.CURRVAL
		from dual
	</select>
	
	<!--
		List<Post> getPosts(Map<String, Object> condition);
		
		condition 값:
			{boardId:게시판번호,
				spoiler:스포일러유무,
				header:말머리,
				offset:오프셋값,
				rows:행개수,
				sort:정렬기준}
				- boardId: 선택 (커뮤니티 메인에서 모두 조회한 후 페이지에서 분류)
				- spoiler: 선택
				- header: 선택
				- sort: 선택
	-->
	<select id="getPosts" parameterType="map" resultMap="PostResultMap">
		select
			P.post_no
		  , P.post_title
		  , P.post_content
		  , P.post_created_date
		  , P.post_updated_date
		  , P.post_view_count	
		  , P.post_upvote_count
		  , P.post_is_spoiler
		  , NVL(C.comment_count, 0)		as commentCount
		  , U.user_nickname				as user_nickname
		  , HC.cat_id					as header_cat_id
		  , HC.cat_name					as header_cat_name
    	  , BC.cat_id					as board_cat_id
    	  , BC.cat_name					as board_cat_name
		from
			movmov_community_posts P
				left join (select post_no, count(*) as comment_count
    				from movmov_community_comments
    				group by post_no) C on P.post_no = C.post_no
				join movmov_content_categories HC on P.post_header = HC.cat_id
				join movmov_content_categories BC on P.post_board_type = BC.cat_id
				join movmov_users U on P.user_id = U.user_id
		where
			P.post_is_deleted = 'N'
		<if test="boardId != null">
			and P.post_board_type = #{boardId}
		</if>
		<if test="spoiler != null">
			and P.post_is_spoiler = #{spoiler}
		</if>
		<if test="header != null">
			and P.post_is_spoiler in #{header}
		</if>
		order by
		<choose>
			<when test="sort == 'newest'">
				P.post_no desc
			</when>
			<when test="sort == 'oldest">
				P.post_no asc
			</when>
			<otherwise>
				P.post_no desc
			</otherwise>
		</choose>
		offset #{offset} rows
		fetch next #{rows} rows only
	</select>
	
</mapper>
 