<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.co.movmov.mapper.ReviewMapper">
	<!-- 
		List<Review> getReviewsByUserId(String userId);
	 -->
	<select id="getReviewsByUserId" resultType="Review">
		select 
			r.review_no as no
			, r.review_star as star
			, r.review_comment as "comment"
			, r.review_created_date as createdDate
			, r.review_updated_date as updatedDate
			, u.user_id as "user.id"
			, r.review_open_status as openStatus
			, r.movie_no as "movie.no"
		from 
			movmov_movie_reviews r, movmov_users u, movmov_movies m
		where 
			u.user_id = #{userId}
			and u.user_id = r.user_id
			and r.movie_no = m.movie_no
		order by updatedDate desc
	</select>
	
	<!-- 
		List<Review> getReviewsByMovieNo(int movieNo);
	 -->
	<select id="getReviewsByMovieNo" resultType="Review">
		select 
			r.review_no as no
			, r.review_star as star
			, r.review_comment as "comment"
			, r.review_created_date as createdDate
			, r.review_updated_date as updatedDate
			, u.user_id as "user.id"
			, u.user_nickname as "user.nickname"
			, r.movie_no as movie_no
			, r.review_open_status as openStatus
		from 
    		movmov_movie_reviews r
		join movmov_users u on r.user_id = u.user_id
		join movmov_movies m on r.movie_no = m.movie_no
		where 
			r.movie_no = #{movieNo}
			and r.review_open_status = 'Y'
		order by r.review_updated_date desc
	</select>
	
	<!-- 
		Review getReviewByUserIdAndMovieNo(String userId, int movieNo);
	 -->
	<select id="getReviewByUserIdAndMovieNo" resultType="Review">
	 	select 
			review_no as no
			, review_star as star
			, review_comment as "comment"
			, review_created_date as createdDate
			, review_updated_date as updatedDate
			, review_open_status as openStatus
			, user_id as "user.id"
			, movie_no as "movie.no"
		from movmov_movie_reviews
		where 
			movie_no = #{movieNo}
			and user_id = #{userId}
		order by review_updated_date desc
	</select>
	<!-- 
		void insertReview(Review review);
	 -->
	 <insert id="insertReview" parameterType="Review">
	 	insert into movmov_movie_reviews
	 	(review_no, review_star, review_comment, review_created_date, review_updated_date, user_id, movie_no, review_open_status)
	 	values
	 	(review_no_seq.nextval, #{star}, #{comment}, sysdate, sysdate, #{user.id}, #{movie.no}, #{openStatus})
	 </insert>
	<!-- 
		void updateReview(Review review);
	 -->
	 <update id="updateReview" parameterType="Review">
	 	update movmov_movie_reviews
	 	set
	 		review_star = #{star}
	 		, review_comment = #{comment}
	 		, review_updated_date = sysdate
	 		, review_open_status = #{openStatus}
	 	where 
	 		review_no = #{no}
	 </update>
</mapper>