<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.co.movmov.mapper.ShopCartItemMapper">

	<!--
		ShopCartItem getCartItemsByCartNo(@Param("cartNo") int cartNo);
	-->
	<select id="getCartItemsByCartNo" resultMap="ShopCartItemResultMap">
		select
			c.cart_item_no, 
			c.item_quantity, 
			u.user_id, 
			i.item_no, 
			o.option_no
		from 
			movmov_shop_cart_items c
			join movmov_users u on c.user_id = u.user_id
			join movmov_shop_items i on c.item_no = i.item_no
			left join movmov_shop_item_options o on c.option_no = o.option_no
		where 
			c.cart_item_no = #{cartNo}
	</select>

	<!--
		void updateCartItemQuantityByCartNo(@Param("cartNo") int cartNo, 
							@Param("quantity") int quantity);
	-->
	<update id="updateCartItemQuantityByCartNo">
		update movmov_shop_cart_items
		set
			item_quantity = #{quantity}, 
			item_updated_date = sysdate
		where
			cart_item_no = #{cartNo}
	</update>
	
	<!--
		void updateCartItemOptionByCartNo(@Param("cartNo") String cartNo, 
							@Param("optionNo") int optionNo);
	-->
	<update id="updateCartItemOptionByCartNo">
		update movmov_shop_cart_items
		set
			option_no = #{optionNo}, 
			item_updated_date = sysdate
		where
			cart_item_no = #{cartNo}
	</update>

	<!--
		void insertCartItem(@Param("userId") String userId, 
					@Param("itemNo") int itemNo, 
					@Param("optionNo") int optionNo, 
					@Param("quantity") int quantity);
	-->
	<insert id="insertCartItem">
		insert into movmov_shop_cart_items
		(cart_item_no
		, user_id
		, item_no
		<if test="optionNo > 0">
			, option_no
		</if>
		, item_quantity)
		values
		(cart_item_no_seq.nextval
		, #{userId}
		, #{itemNo}
		<if test="optionNo > 0">
		, #{optionNo}
		</if>
		, #{quantity})
	</insert>
	
	<!--
		void deleteCartItemByUserId(String userId);
	-->
	<delete id="deleteCartItemByUserId">
		delete from
			movmov_shop_cart_items
		where 
			user_id = #{userId}
	</delete>

	<!--
		void deleteCartItemByCartNo(int cartNo);
	-->
	<delete id="deleteCartItemByCartNo" >
		delete from 
			movmov_shop_cart_items
		where
			cart_item_no = #{cartNo}
	</delete>
	
	<resultMap type="ShopCartItem" id="ShopCartItemResultMap">
		<id column="cart_item_no" property="no" />
		<result column="item_quantity" property="quantity" />
		<result column="item_created_date" property="createdDate" />
		<result column="item_updated_date" property="updatedDate" />
		
		<association property="user" javaType="User">
			<id column="user_id" property="id"/>
			<result column="user_name" property="name"/>
		</association>
		
		<association property="item" javaType="ShopItem">
			<id column="item_no" property="no"/>
			<result column="item_name" property="name"/>
			<result column="item_price" property="price"/>
			<result column="item_discount_rate" property="discountRate"/>
			<result column="item_stock" property="stock"/>
			<result column="item_sold_out" property="soldOut"/>
			<result column="item_image_path" property="imagePath"/>
			<result column="item_has_option" property="hasOption"/>
		</association>
		
		<association property="option" javaType="ShopItemOption">
			<id column="option_no" property="optionNo"/>
			<result column="option_name" property="optionName"/>
			<result column="item_stock" property="stock"/>
		</association>
		
	</resultMap>
	<!-- 
		List<ShopCartItem> getCartItemsByUserId(String userId);
	-->
	<select id="getCartItemsByUserId" resultMap="ShopCartItemResultMap">
		select
			c.cart_item_no,
			c.item_quantity,
			c.item_created_date,
			c.item_updated_date,
			
			u.user_id,
			u.user_name,
			
			o.option_no,
			o.option_name,
			o.item_stock,
			
			i.item_no,
			i.item_name,
			i.item_price,
			i.item_discount_rate,
			i.item_stock,
			i.item_sold_out,
			i.item_image_path,
			i.item_has_option
		from 
			movmov_shop_cart_items c
			join movmov_users u on c.user_id = u.user_id
			join movmov_shop_items i on c.item_no = i.item_no
			left join movmov_shop_item_options o on c.option_no = o.option_no
		where 
			u.user_id = #{userId}
	</select>
	
	<!--
		ShopCartItem getCartItem(@Param("userId") String userId, 
								@Param("itemNo") int itemNo,
								@Param("optionNo") int optionNo);
	-->
	<select id="getCartItem" resultMap="ShopCartItemResultMap">
		select
			c.cart_item_no, 
			c.item_quantity, 
			u.user_id, 
			i.item_no, 
			o.option_no
		from 
			movmov_shop_cart_items c
			join movmov_users u on c.user_id = u.user_id
			join movmov_shop_items i on c.item_no = i.item_no
			left join movmov_shop_item_options o on c.option_no = o.option_no
		where 
			u.user_id = #{userId}
			and i.item_no = #{itemNo}
			and (o.option_no = #{optionNo} or (#{optionNo} = 0))
	</select>
</mapper>
 