<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties" />

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="logImpl" value="STDOUT_LOGGING"/>
	</settings>

	<typeAliases>
		<package name="kr.co.movmov.vo" />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
	            <property name="url" value="${url}" />
	            <property name="username" value="${username}" />
	            <property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>

	<!-- Mapper XML 파일 등록 -->
	<mappers>
		<mapper resource="mybatis/mappers/AddressMapper.xml" />
		<mapper resource="mybatis/mappers/PaymentMapper.xml" />
		<mapper resource="mybatis/mappers/PointMapper.xml" />
		<mapper resource="mybatis/mappers/PostMapper.xml" />
		<mapper resource="mybatis/mappers/CommentMapper.xml" />
		<mapper resource="mybatis/mappers/ReportMapper.xml" />
		<mapper resource="mybatis/mappers/CategoryMapper.xml" />
		<mapper resource="mybatis/mappers/ShopItemMapper.xml"/>
		<mapper resource="mybatis/mappers/ShopCartItemMapper.xml"/>
		<mapper resource="mybatis/mappers/UserMapper.xml" />
		<mapper resource="mybatis/mappers/MovieMapper.xml" />
		<mapper resource="mybatis/mappers/GenreMapper.xml" />
		<mapper resource="mybatis/mappers/MovieGenreMapMapper.xml" />
		<mapper resource="mybatis/mappers/ReviewMapper.xml" />
		<mapper resource="mybatis/mappers/ReviewLikeMapper.xml" />
		<mapper resource="mybatis/mappers/WishMovieMapper.xml" />
		<mapper resource="mybatis/mappers/CsInquiryMapper.xml" />
		<mapper resource="mybatis/mappers/FaqMapper.xml" />
	</mappers>
</configuration>
